img {
    display: block;
    width: 100%;
    max-width: 100%;
}
.items__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.titleCardUser {
    min-width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}

.modal__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
}
.modal {
    max-width: 50%;
    min-width: 300px;
    height: 400px;
    overflow-x: scroll;
    background-color: #fff;
}